{% extends 'base_template.html' %}

{% block header %}
<header>
    <div class="header-left">
        {% load static %}
        <a href="#"><img src="{% static 'icons/sreda-logo.svg' %}"/></a>
    </div>
    <div class="header-middle">
        Главное за <button onclick="dropdownFunction()" class="today-button">сегодня<img id="arrow-down" src="{% static 'icons/arrow-down.svg' %}"/>
            <div id="todayDropdown" class="today-dropdown-content">
                <a href="#">неделю</a>
                <a href="#">месяц</a>
            </div>
            </button>
    </div>
    <div class="header-right">
        <button onclick="createFunction()" class="create-button" style="background: url({% static 'icons/create-plus.svg' %}) no-repeat;background-size: 14px;
        background-position: center;"></button>
        <div id="createDropdown" class="create-dropdown-content">
            <a href="#">Вопрос</a>
            <a href="#">Публикацию</a>
        </div>
    </div>
</header>
{% endblock header %}

{% block tabs%}
<div class="tab">
    <a href="{% url 'home_url' %}"><button class="tablinks {{ tab_main }}">Популярное</button></a>
    <a href="{% url 'questions_url' %}"><button class="tablinks {{ tab_questions }}">Вопросы</button></a>
    <a href="{% url 'communities_url' %}"><button class="tablinks {{ tab_communities }}">Сообщество</button></a>
</div>
{% endblock tabs%}